{% extends 'base.html' %}

{% block title %}
    Create article
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Add article</h1>
        <form method="post">
            <input type="text" name="title" id="title" class="form-control" placeholder="Input name"><br>
            <textarea name="intro" id="inro" class="form-control" placeholder="Input advt"></textarea><br>
            <textarea name="text" id="text" class="form-control" placeholder="Input text"></textarea><br>
            <input type="submit" class="btn btn-success" value="Send">
        </form>
    </div>
{% endblock %}